<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <provider android:name="com.cloudhub.updater.UpdateFileProvider"
            android:authorities="${applicationId}.cloudhub.updates"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/cloudhub_update_paths" />
        </provider>
    </application>
</manifest>
